<a href="https://colab.research.google.com/github/ricardodm89/python-analise-dados/blob/master/Script_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1 - Sintaxe Básica

In [ ]:
print('Bem vindo ao curso de Python!')

Bem vindo ao curso !

In [ ]:
print("Bem vindo ao curso de Python!")

Bem vindo ao curso de Python!

In [ ]:
# Comentário  de linha

In [ ]:
'''
  Comentário de bloco !
  linha 1
  linha 2
'''

'\n  Comentário de bloco !\n  linha 1\n  linha 2\n'

In [ ]:
print('quebrando linhas \n quebrando linhas')

quebrando linhas
 quebrando linhas

# 2 - Operadores matemáticos

Os operadores são usados para realizar operações em variáveis e valores:

1. Soma
2. Subtração
3. Multiplicação
4. Divisão
5. Exponenciação
6. Resto da Divisão
7. Divisão de Chão

In [ ]:
# soma
1 + 3 * 4

13

In [ ]:
# subtração
5 - 3

2

In [ ]:
# multiplicação
3 * 15

45

In [ ]:
# divisão
8 / 4

2.0

In [ ]:
# exponenciação
2 ** 3  # (2 x 2 x 2)

8

In [ ]:
# resto da divisão
16 % 2

0

In [ ]:
# divisão de chão
36 // 4

9

In [ ]:
# priorização
(2 + 2) * 5

20

# 3 - Variáveis

In [ ]:
nome = 'ricardo'
nome

'ricardo'

In [ ]:
# Variaveis de Texto
var_Texto_01 = 'qualquer texto'
var_Texto_02 = str('qualquer texto - string')

print(var_Texto_01, var_Texto_02)

qualquer texto qualquer texto - string

In [ ]:
# Variaveis numéricas

var_inteiro_01 = 100
var_inteiro_02 = int(200)

print(var_inteiro_01, var_inteiro_02)

100 200

In [ ]:
# Variaveis flutuantes
var_flutuantes_01 = 10.90
var_flutuantes_02 = float(10.50)

print(var_flutuantes_01, var_flutuantes_02)

In [ ]:
# variaveis booleanas
var_boolean_01 = True
var_boolean_02 = False

print(var_boolean_01, var_boolean_02)

True False

# 4 - Tipos de Dados

1. Listas: [ ]
2. Tuplas: ( )
3. Dicionários: { }

In [ ]:
# Listas
Lista_valores_01 = [1,2,'tres', True, [1,2,3]]

Lista_valores_01

[1, 2, 'tres', True, [1, 2, 3]]

In [ ]:
# Tuplas  !! são imutaveis
Tupla_01 = (1,2,3,4)
Tupla_02 = ('Texto', False, 2, 2.33)

Tupla_01, Tupla_02

((1, 2, 3, 4), ('Texto', False, 2, 2.33))

In [ ]:
# Dicionarios {objetos}
Dicionario = {
     'Index' : 'Valor',
     'Id' : 1,
     'Id' : 2,
     'Nome' : 'Ricardo',
     'Lista' : Lista_valores_01,
     'Tupla' : Tupla_02
 }

Dicionario

{'Id': 2,
 'Index': 'Valor',
 'Lista': [1, 2, 'tres', True, [1, 2, 3]],
 'Nome': 'Ricardo',
 'Tupla': ('Texto', False, 2, 2.33)}

# 5 -  Nomeação de Variáveis

In [ ]:
# em uma linha
FirstName, LastName = 'Ricardo', 'Martins',

FirstName, LastName

('Ricardo', 'Martins')

In [ ]:
# 
Numero01 = Numero02 = Numero03 = 99

Numero01, Numero02, Numero03

(99, 99, 99)

In [ ]:
# nomear com lista
Lista_Carros = ['VW','GM', 'Ford']

marca_01, marca_02, marca_03 = Lista_Carros

print(marca_01,marca_02,marca_03)

VW GM Ford

In [ ]:
# Combinar Variáveis
nome = 'Ricardo'
sobrenome = 'Martins'

NomeCompleto = nome + ' ' + sobrenome

print(NomeCompleto)

Ricardo Martins

In [ ]:
# Convertendo Inteiro para String
nome = 'Ricardo'
idade = str(29)

nome + ' ' + idade + ' anos'

'Ricardo 29 anos'

In [ ]:
# Convertendo String em Float
investimento = 1000
taxaJuros = float(0.2)

investimento * taxaJuros

ValorGanhado = (investimento * taxaJuros) + investimento

print(ValorGanhado)

1200.0



```
# Isto está formatado como código
```

# **6 - Tipo da Informação**
Na programação, o tipo de dados é um conceito importante.
Variáveis ​​podem armazenar dados de diferentes tipos, e diferentes tipos podem fazer coisas diferentes.
O Python tem os seguintes tipos de dados integrados por padrão, nestas categorias:
1. Text Type: *str*
2. Numeric Types:	*int*, *float*, *complex*
3. Sequence Types:	*list*, *tuple*, *range*
4. Mapping Type:	*dict*
5. Set Types:	*set*, *frozenset*
6. Boolean Type:	*bool*
7. Binary Types:	*bytes*, *bytearray*, *memoryview*

In [ ]:
# Criando tipos de informações
String = str('Olá Mundo!')
Inteiro = int(10)
Flutuante = float(10.99)
Complex = complex(1j)
Lista = list( ('Maça', 'Morango', 'Pera') )
Tupla = tuple( ('Maça', 'Morango', 'Pera') )
Range = range(6)
Dicionario = dict(nome='Odemir', age=29)
Set = set( ('Maça', 'Morango', 'Pera') )
Fronzet = frozenset( ('Maça', 'Morango', 'Pera') )
Boleano = bool(5)
Bytes = bytes(5)
ByteArray = bytearray(5)
Memoryview = memoryview( bytes(5) )

from datetime import datetime
Data = datetime.today().date()

# Mostrando os Valores
print( type(String) )
print( type(Inteiro) )
print( type(Flutuante) )
print( type(Complex) )
print( type(Lista) )
print( type(Tupla) )
print( type(Range) )
print( type(Dicionario) )
print( type(Set) )
print( type(Fronzet) )
print( type(Boleano) )
print( type(Bytes) )
print( type(ByteArray) )
print( type(Memoryview) )
print( type(Data) )

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'datetime.date'>

# 7 - Comando Round

In [ ]:
# comando round : define quantas casas decimais quero exibir
valor = 16.8464645
print(valor)

# com duas casas decimais
round(valor, 2)

16.8464645

16.85

# 8 - Comando Len

In [ ]:
# comando len retorna a quantiade de elementos de uma lista

lista = [0,1,2,3,4,5,6,7,8,9]
dicionario = {'Nome': 'Mayara','idade': 28}
tupla = ('a','b', 'c')
string = 'Comando Len'

len(dicionario)

2

# 9 - Fatiamento de Strings

Strings são lista de bytes representando caracteres.<p>
Podemos acessar suas posições usando Colchetes.<p>
String [Posicão inicial:Posição final]

In [ ]:
minha_string = 'Aprendendo a fatiar strings!'
data = '01 de abril de 2022'

print(type(minha_string))
print(len(minha_string))

minha_string[0] # primeira posição
minha_string[-1] # inverte a posição da lista, retorna o ultima posição
minha_string[-10]
minha_string[10:] # retorna apartir da décima posição
minha_string[-10:] # retorna as últimas da dez posições
minha_string[0:10] # retorna da posição 0 a dez - intervalo


data[0:2] # pegando o dia da data

<class 'str'>
28

'01'

# **10 - Manipulação de Strings**<p>
Um tipo de dados bastante usado no dia a dia são as strings, ou cadeias de caracteres (ou sequências de caracteres). O tipo de dados string, ou str como é chamado em Python, possui várias operações úteis associadas a ele. Essas operações tornam Python uma linguagem bastante propícia para manipulação de textos.
Algumas funções mais utilizadas:

1. replace()
2. startswith()
3. endswith()
4. count()
5. capitalize()
6. isdigit()
7. isalnum()
8. upper()
9. lower()
10. find ()
11. strip()
12. split()

In [ ]:
# replace()
cpf = 'CPF:3554915614'
cpf.replace('CPF:','')
int(cpf.replace('CPF:','')) # convertendo para inteiro
type(int(cpf.replace('CPF:',''))) # mostrando o tipo

int

In [ ]:
# startswith() --> verifica o começo

nome = 'Olá mundo!'

nome.startswith('Olá') # retorna um valor booleano true ou false

True

In [ ]:
# endswith() --> verifica o final

string = 'aprendendo python!'

string.endswith('on')  # retorna um valor booleano true ou false

False

In [ ]:
# count() --> contar palavras ou letras

string.count('n')

3

In [ ]:
# capitalize() --> Transforma o primeiro carater em maiuscula
string.capitalize()

'Aprendendo python!'

In [ ]:
# isdigit() --> verifica se possui valor numérico

string_CPF = '123456789A'

string_CPF.isdigit() # retorna um valor booleano true ou false

False

In [ ]:
# isallnum() --> verifica é alfa-numerica

alfa_numerica = 'AAAA5432534'

alfa_numerica.isalnum()

True

In [ ]:
# upper() --> Transforma minusculo pra maiusculo

name = 'mayara'

name.upper()

'MAYARA'

In [ ]:
# lower() --> Transforma maiusculo pra minusculo

name = 'MAYARA'

print(name.lower())
print(name.lower().capitalize())

mayara
Mayara

In [ ]:
# find() --> procura valor dentro da string

frase = 'procurando um valor em especifico'

print(frase.find('valor')) # retorna posição que começa o valor
print(frase.find('xx')) # retona -1 caso não encontre o valor especificado

14
-1

In [ ]:
# strip() --> remove espaços antes e depois da string

endereco = ' rua joão da silva, n 323 '

endereco.strip()

'rua joão da silva, n 323'

In [ ]:
# split() -->

endereco_completo = 'Avenida getulio vargas, 123, Centro, Uberlândia, MG'

lista = endereco_completo.split(',') # quebra a string no caracter informado
print(lista)

['Avenida getulio vargas', ' 123', ' Centro', ' Uberlândia', ' MG']

# **11 - Comando Input**
A função input() recebe como parâmetro uma string que será mostrada como auxílio ao usuário, geralmente o informando que tipo de dado o programa está aguardando receber.

input()

In [ ]:
# input()

nome = input('Digite seu nome: ')
idade = input('Digite sua idade: ')

print ('Seu nome é: ', nome)
print ('Sua idade é: ', idade, 'anos')

Digite seu nome: ricardo
Digite sua idade: 32
Seu nome é:  ricardo
Sua idade é:  32 anos

# **12 - Operadores de Comparação**
Os operadores de comparação são usados ​​para comparar dois valores:
1. '==' ( Igual a )
2. '!=' ( Diferente )
3. '>' ( Maior )
4. '<' ( Menor )
5. '>=' ( Maior igual )
6. '<=' ( Menor igual )

In [ ]:
print(10 == 11)
print(10 != 10)
print(10 > 2)
print(10 >= 10)

False
False
True
True

# 13 - Operadores Lógicos
Os operadores lógicos são usados ​​para combinar instruções condicionais:
1. and (Retorna True se ambas as declarações forem verdadeiras)
2. or (Retorna True se uma das declarações for verdadeira)
3. not (Inverte o resultado, retorna False se o resultado for verdadeiro)

In [ ]:
# Operadores de Comparações - Parte 2
And = 'and'
Ou = 'or'
Negação = 'not'

print('8 é maior que 7 e 7 maior que 8:', 8 > 7 and 7 > 8 )
print('8 é maior que 7 e 7 menor que 8:', 8 > 7 and 7 < 8 )
print('8 é maior que 7 ou 7 menor que 8:', 8 == 7 or 7 == 8 )
print('8 é maior que 7 ou 7 menor que 8:', 8 > 7 or 7 > 8 )

8 é maior que 7 e 7 maior que 8: False
8 é maior que 7 e 7 menor que 8: True
8 é maior que 7 ou 7 menor que 8: False
8 é maior que 7 ou 7 menor que 8: True

In [ ]:
# not

lista = [1,2,3,4,5]

print(3 in lista) # verifica se o valor consta na lista
print(10 not in lista) # verifica se o 10 não consta na lista

True
True

# 14 -  Operadores de Identidade
Os operadores de identidade são usados ​​para comparar os objetos, não se forem iguais, mas se forem realmente o mesmo objeto, com a mesma localização de memória:

is (Retorna True se ambas as variáveis ​​forem o mesmo objeto)<p>
is not (Retorna True se ambas as variáveis ​​não forem o mesmo objeto)

In [ ]:
String_01 = str('Olá Mundão')
String_02 = str('Olá Mundão')

print( String_01 is String_01 )
print( String_01 is String_02 )
print( String_01 == String_02 )
print( type(String_01) is type(String_02) )
print( type(String_01) is not type(String_02) )

True
False
True
True
False

# 15 - Operadores de Associação
Os operadores de associação são usados ​​para testar se uma sequência é apresentada em um objeto:
1. in (Retorna True se uma sequência com o valor especificado estiver presente no objeto)
2. not in (Retorna True se uma sequência com o valor especificado não estiver presente no objeto)

In [ ]:
Lista_Ações = ['Magalu', 'Via', 'Assai', 'Carrefour']

print( 'Via' in Lista_Ações )
print( 'Via' not in Lista_Ações )

True
False

# 16 - Manipulando Listas
As listas são usadas para armazenar vários itens em uma única variável.

As listas são um dos 4 tipos de dados internos do Python usados ​​para armazenar coleções de dados, os outros 3 são Tuple , Set e Dictionary , todos com qualidades e usos diferentes.<p>
Comandos mais utilizados:
1. append() - Para adicionar um item ao final da lista
2. len() - Calcular o tamanho da lista
3. [  ] - Acessar posições
4. del() - Exlcuir um elemtno
5. clear() - Limpar a lista
6. insert() - Para inserir um item de lista em um índice especificado
7. extend() - Anexar elementos de outra lista à lista atual
8. remove() - Remove o item especificado
9. pop() - Remove o índice especificado.
10. sort() - Ordenar os valores
11. copy() - Faz uma copia da Lista
12. index() - Retorna o index do elemento da lista

In [ ]:
lista_01 = [1,2,'a','b',3, 4]
lista_02 = ['python', 1 , 2 , True]

print('Lista_01: ', lista_01)
lista_01.append('c') # adiciona elemento na lista
print(lista_01)

len(lista_01) # mostra quantos elemento tem na lista
print(lista_01[2]) # mostra valor em uma posição especifica

del(lista_01[0]) # exclui elemento da lista
print(lista_01)

lista_01.insert(4, False) # insere um elemento em um posição especifica
print(lista_01)

'''
lista_01.clear()
print(lista_01)
'''

lista_01.extend(lista_02) # juntar elementos de um lista em outra
print(lista_01)

lista_01.remove('b') # remove elemento especificado
print(lista_01)

lista_01.pop(3)
print(lista_01) # remove elemento de uma posição especifica

lista_01 = [11,3,1,9,15]
lista_01.sort() # ordena valores do mesmo tipo
print(lista_01)

lista_nova = lista_01.copy() # faz a copia de uma lista
print('lista_nova: ', lista_nova)

print(lista_nova.index(11))

Lista_01:  [1, 2, 'a', 'b', 3, 4]
[1, 2, 'a', 'b', 3, 4, 'c']
a
[2, 'a', 'b', 3, 4, 'c']
[2, 'a', 'b', 3, False, 4, 'c']
[2, 'a', 'b', 3, False, 4, 'c', 'python', 1, 2, True]
[2, 'a', 3, False, 4, 'c', 'python', 1, 2, True]
[2, 'a', 3, 4, 'c', 'python', 1, 2, True]
[1, 3, 9, 11, 15]
lista_nova:  [1, 3, 9, 11, 15]
3

# 17 - Pacote Externo - Datetime
O datetime módulo fornece classes para manipulação de datas e horas.